<% include partials/header %>

<main class="container">
  <header class="jumbotron">
    <h1>Welcome to CampSite</h1>
    <p>Find your perfect camping ground here</p>
    <a class="btn btn-primary btn-lrg" href="/campgrounds/new">Add new campground</a>
  </header>
  <div class="row" style="display: flex; flex-wrap: wrap;">
    <% campgrounds.forEach((campground) => { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= campground.img %>" alt="">
          <div class="caption">
            <h4><%= campground.name %></h4>
          </div>
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
        </div>
      </div>
    <% }); %>
  </div>
</main>
<% include partials/footer %>